<div>
<img src="images/beer.png" alt="abierhoald"><br>
<button onclick="window.location.href='http://localhost:3000/beers';">CHECK THE BEERS BROTHER!</button>
<button onclick="window.location.href='http://localhost:3000/random-beers';">WANNA TRY A RANDOM ONE?</button>
</div>